/* styles.css */

h1 {
	font-size: 150px;
	color: rgb(76, 185, 99);
	
}

body {
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExdjRpcWZhY29qMHRsM3kyN2Q4bXdqMDIwamdhbmZqdTVtczliaWQzMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xT0GqcCJJJH12hJvGM/giphy.gif'); /* */
    background-color: #cccccc; /* Always set a background color as a fallback */
    background-repeat: no-repeat; /* Prevents the GIF from tiling if it's large enough */
    background-position: center; /* Centers the background image */
    background-size: cover; /* Stretches the image to cover the entire viewport */
    height: 100vh; /* Ensures the body covers the full height of the viewport */
    width: 100vw; /* Ensures the body covers the full width of the viewport */
    margin: 0;
    padding: 0;
}

.content {
    /* Styles for your foreground content */
    color: white;
    text-align: center;
    padding-top: 20vh;
}
