/* styles.css */

h1 {
	font-family: "Patrick Hand";
	font-size: 150px;
	color: rgb(76, 185, 99);
	
}

p {
	font-family: "Manslava";
	font-size: 20px;
	color: white;
}

/* First NIGHT DRIVE Page START */
#drive-page {
    background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExaHVxM3Q3b3h4Z2gwMjcwNzRiZXI0bGM3YzU5eHlxMWRnMnl4ODlkMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o7qDU90ROqt2cPuKY/giphy.gif'); /* */
    background-color: #cccccc; /* Always set a background color as a fallback */
    background-repeat: no-repeat; /* Prevents the GIF from tiling if it's large enough */
    background-position: center; /* Centers the background image */
    background-size: cover; /* Stretches the image to cover the entire viewport */
    height: 100vh; /* Ensures the body covers the full height of the viewport */
    width: 100vw; /* Ensures the body covers the full width of the viewport */
    margin: 0;
    padding: 0;
}

.content {
    /* Styles for your foreground content */
    color: white;
    text-align: center;
    padding-top: 20vh;
/* First Page END */

/* 01.html BEACH? Page START */
#beach-page {
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNWhjc2gyZmtkcjY2bHIzYm43YWd2eGRqbmZhcTJzYW13MGQ4cTBmcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xT0GqcCJJJH12hJvGM/giphy.gif'); /* */
    background-color: #000000; /* Always set a background color as a fallback */
    background-repeat: no-repeat; /* Prevents the GIF from tiling if it's large enough */
    background-position: center; /* Centers the background image */
    background-size: cover; /* Stretches the image to cover the entire viewport */
    height: 100vh; /* Ensures the body covers the full height of the viewport */
    width: 100vw; /* Ensures the body covers the full width of the viewport */
    margin: 0;
    padding: 0;
}
/* 01.html END */

/* 02.html Page START */
.background-three {
	
}
/* 02.html END */

/* Fonts */
.mansalva-regular {
  font-family: "Mansalva", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Fonts END */

/* NOTES
Beach Gif: https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNWhjc2gyZmtkcjY2bHIzYm43YWd2eGRqbmZhcTJzYW13MGQ4cTBmcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xT0GqcCJJJH12hJvGM/giphy.gif 
Drive GIF: https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExdjRpcWZhY29qMHRsM3kyN2Q4bXdqMDIwamdhbmZqdTVtczliaWQzMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xT0GqcCJJJH12hJvGM/giphy.gif 	

*/

